<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Qutes_Python_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13"
}

Find a way to only display the keys that have int values.

**One possible solution :**

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

for key, value in wildcodeschool.items():
    if isinstance(value, int) :
        print(key)

data_analyst
data_scientist

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

**One possible solution :**

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

for key, value in wildcodeschool.items():
    if 'e' in key.lower() :
        print(value)

2
13

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" : 19, using a **dictionary method**.

**One possible solution :**

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

wildcodeschool['dev_web'] = int(wildcodeschool['dev_web'])
total_campus = sum(wildcodeschool.values())
wildcodeschool.update({"total_campus": total_campus})
print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': 13, 'total_campus': 19}

# Mission 4

Take the dictionary generated from mission 3. Delete the key value pair :
- 'dev_web': 13 using a method
- 'total_campus': 19 using another method

**One possible solution :**

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": 13,
  "total_campus": 19
}

wildcodeschool.pop('dev_web')
wildcodeschool.popitem()
print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

**One possible solution :**

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": 13,
  "total_campus": 19
}

print(sorted(wildcodeschool.keys()))

['data_analyst', 'data_scientist', 'dev_web', 'total_campus']

# Mission 6

Create a script that returns the same elements as the **values()** method, as a list.

Example: for `{'a': 1, 'b': 2, 'c': 3}` it will create `[1, 2, 3]`

**One possible solution :**

In [ ]:
def get_dict_values( dictionary: dict) -> list :
    values = []
    for key, value in dictionary.items():
        values.append(value)
    return values

print(get_dict_values({'a': 1, 'b': 2, 'c': 3}))

[1, 2, 3]