<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_ML_Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CROSS VALIDATION

---
---

Tu vas effectuer une classification supervisée sur la colonne "survived", en effectuant un traintestsplit (sans fixer le random_state), puis un classifieur de ton choix (knn, decision tree, régression logistique, etc...). Tu dois faire apparaitre clairement l'accuracy score du jeu d'entrainement et celui du jeu de test.

1. __imports__

In [43]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

2. __Import data___

In [44]:
link_csv = "https://drive.google.com/uc?export=download&id=1O-rAbFHttMz058FtsivnI3-6cM0H3HnI"

df = pd.read_csv(link_csv)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

In [46]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

3. __Auxiliar functions__

In [47]:
def get_accuracy_score_of_DT_model(X, y, max_depth=8, random_state=None, test_size=0.2):
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=random_state, test_size=test_size)
    modelDT = DecisionTreeClassifier(max_depth=max_depth).fit(X_train, y_train)
    test_score = accuracy_score(y_test, modelDT.predict(X_test))
    train_score = accuracy_score(y_train, modelDT.predict(X_train))
    print(f"Test Set: {test_score}")
    print(f"Train Set: {train_score}")

4. __Decision tree model__

In [48]:
df['Sex'] = pd.factorize(df['Sex'])[0]

columns_x = list(set(df.columns).difference(['Name', 'Survived']))

X = df[columns_x]
y = df['Survived']

get_accuracy_score_of_DT_model(X, y)

Test Set: 0.8146067415730337
Train Set: 0.8928067700987306

---
---

Dans un nouveau bloc de code, tu vas effectuer exactement la même étape que précédemment. Comme tu n'as pas fixé le random_state, le score devrait être différent.

In [49]:
get_accuracy_score_of_DT_model(X,y)

Test Set: 0.8426966292134831
Train Set: 0.8970380818053597

---
---

Avec ce même classifier, tu vas lancer une crossvalidation avec un découpage en 6 parties. La CrossValidation renforce-t-elle votre confiance dans cette prédiction ?

In [50]:
scores = cross_val_score(DecisionTreeClassifier(max_depth=8), X, y, cv=6)
print(f"scores {scores}")

scores [0.79054054 0.7972973  0.85135135 0.83783784 0.79054054 0.84353741]

---
---

Tu vas calculer la moyenne et l'écart-type des 6 scores obtenus.

In [51]:
print(f"Moyenne = {np.mean(scores)}")
print(f"Écart-type = {np.std(scores)}")

Moyenne = 0.8185174970889256
Écart-type = 0.02611848297525538