<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_Python_Intro_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

For each cell, execute the code and answer the question before moving on to the next.

---

In [2]:
people = {"Gontran": 23,
          "Jason": 42,
          "Ayoub": 27}


for i in people:
  print(i)

Gontran
Jason
Ayoub

**1. What does `i` correspond to ?**

        To answer, you must use the terms "keys" and "values".
**Answer :**
**The "`i`"** corresponds to the `key` of the current item, and not to the `value`, in the `people` dictionary.

---

In [3]:
for i in people.keys():
  print(i)

print(type(people.keys()))

Gontran
Jason
Ayoub
<class 'dict_keys'>

In [ ]:
for i in people.values():
  print(i)

23
42
27

**2.**

- **What does `i` correspond to in the second last cell? **

    **Answer :**
    The "`i`" corresponds to the current item (which is a `key` of the `people` dictionary) from the `keys()` iterator (which is essentially a view of all the keys in the dictionary, similar to a list of all the keys).

- **What does `i` in the last cell correspond to? **
    
    **Answer :**
    The "`i`" corresponds to the current item (which is a `value` of the `people` dictionary) from the `values()` iterator (which is essentially a view of all the values in the dictionary, similar to a list containing all the values).

---

In [ ]:
for i in people.items():
  print(i)

('Gontran', 23)
('Jason', 42)
('Ayoub', 27)

**3. What is the type of object returned here called?**

**Answer :**
The object returned by the `items()` method is a view of all the `key:value` pairs in the `people` dictionary, represented as tuples in the form of `(key, value)`.

---

In [4]:
for i, age in people.items():
  print(age)

print(people.items())

23
42
27
dict_items([('Gontran', 23), ('Jason', 42), ('Ayoub', 27)])

**4. Here I can recover the age of the people. How could I retrieve their names?**

**Answer :**
To retrieve their names, you can use the variable `i`, which contains the key in the tuple `(key, value)`. In this particular case, the tuple is `(name, age)`.

---
---

# Mission 2

---

In [ ]:
people = {"Gontran": 23,
          "Jason": 42,
          "Ayoub": "27",
          "Léo": [10,20,30],
          "Rosario": {"Juan": 3,
                      "Camelia": 6}}


for i in people.values():
  print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>

**1. Does the above code allow me to confirm that I can have values of different types within a dictionary ?**

**Answer :**
Yes, you can have values of different types. In this particular case, the types can include integer, float, string, list, and dictionary, but you can also have values with types such as boolean, tuple, or other Python objects.


**2. Can I have keys of different types within a dictionary ?**

**Answer :**
Yes, we can have `keys` of different types, but only immutable types. In other words, objects that cannot change their internal composition, such as integers, floats, strings, or booleans. Types like dictionaries, lists, or other mutable objects are not valid as dictionary keys.

---

In [ ]:
people["Ayoub"] = int(people["Ayoub"])

for i in people.values():
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
<class 'dict'>

**# 3. What did the above code allow me to do?**

**Answer :**
In the first line, you transform the "value" for the "key" `"Ayoub"` in the `people` dictionary into an integer. In the `for` loop, you print the type of each value in the `people` dictionary.

---
---

# Mission 3

---

In [ ]:
groups = {"groupe_1": ["Lam", "Ghizlaine", "Khaled", "Florian"],
          "groupe_2": ["Lucile", "Mbaye", "Cécile", "Rohan"],
          "groupe_3": ["Agathe", "Charlotte", "Charles", "Maxime"],
          "groupe_4": ["Gaelle", "Linh", "Meral"]}


for i in groups.values():
  print(i)

['Lam', 'Ghizlaine', 'Khaled', 'Florian']
['Lucile', 'Mbaye', 'Cécile', 'Rohan']
['Agathe', 'Charlotte', 'Charles', 'Maxime']
['Gaelle', 'Linh', 'Meral']

**1.**

- **What is the type of each value ?**

    **Answer :**
    The type of each value is the same, the `list` type.

    

- **How do I get into each list ?**

    **Answer :**
    We can use a **`for`** loop to iterate through each list. Something like:

    
    ```python
    for i in group.values():
        for name in i:
            print(name)
    ```

---

In [ ]:
for i in groups.values():
  for v in i:
    print(v)

Lam
Ghizlaine
Khaled
Florian
Lucile
Mbaye
Cécile
Rohan
Agathe
Charlotte
Charles
Maxime
Gaelle
Linh
Meral

**2. How did I get into each list ?**

        Take the time to explain your reasoning for answering this question.

**Answer :**
In the first `for` loop, we iterate through each value of the dictionary, which is a list (represented by the variable `i`). The `values()` method returns a view of all the values in the dictionary, and in this case, those values are lists. In the inner `for` loop, we iterate through each element of the list `i`, which is represented by the variable `v`. Then, we print the content of `v`.