<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Help for statisticians!

Your fellow statisticians need you. They want to learn how to program in Python and have tons of calculations to do.

Very kindly, you agree to help them. Complete the missions below.

![Einstien le gÃ©nie](https://wallup.net/wp-content/uploads/2018/09/30/201016-funny-albert-einstein-748x468.jpg)

---

# Mission 1:

Create a function, that simply returns the string "Hello Python"

**One possible solution :**

In [ ]:
def hello() -> str:
    return "Hello Python"

print(hello())

Hello Python

---

# Mission 2:

Create a function that takes in 2 numbers as parameters, and returns a boolean indicating whether or not they are equal

**One possible solution :**

In [ ]:
def are_equal(num1: float, num2: float) -> bool:
    return num1 == num2

print(are_equal(12, 15))
print(are_equal(12, 12.0))

False
True

---

# Mission 3:

Create a function that takes a number as parameter, and returns the first 10 multiples of the number as a list

**Example:**
        
                2 -> [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**One possible solution :**

In [1]:
def first_ten_multiples_of(num1: int) -> list :
    return [num1*x for x in range(1, 11)]

print(first_ten_multiples_of(5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

---

# Mission 4:

Create a function that takes a string as input, and return its vowels only, preserving case.

**Example:**

        "Antidisestablishmentarianism" -> "Aiieaieaiai"

**Example:**

        "TO BE OR NOT TO BE" -> "OEOOOE"

**One possible solution :**

In [2]:
def all_vowels(string: str) -> str :
    vowels = 'aeiou'
    return "".join([s for s in string if s.lower() in vowels])

print(f"Antidisestablishmentarianism -> {all_vowels('Antidisestablishmentarianism')}")
print(f"TO BE OR NOT TO BE -> {all_vowels('TO BE OR NOT TO BE')}")

Antidisestablishmentarianism -> Aiieaieaiai
TO BE OR NOT TO BE -> OEOOOE

---

# Mission 5:

Create a function that takes 2 numbers as parameters, and returns the result of a division operation.

Test if the denominator is equal to 0 and if so, display a message that says:
        
            "You can't divide by zero".

**One possible solution :**

In [3]:
def division(numerator: float, denominator: float) -> float :
    try:
        return numerator/denominator
    except ZeroDivisionError as error:
        print("You can't divide by zero")

print(division(10, 5.0))
print(division (15, 0))

2.0
You can't divide by zero
None

---

# Mission 6:

First, choose two arithmetical operations (such as +, -, *, or /)

Then, create a function that takes in 3 numbers as parameters and carries out those operations, displays a message indicating if the result is positive, negative or zero, and finally returns the result.
If a division by zero is attempted, display an error message.


**Example with multiplication and addition:**

Calling with 0, 32, 2 will compute (0*32)+2, will display

        "Positive result"
and return 2

**Example with division and addition:**

Calling with 21, 0, 3 will try to compute (21/0)+2, will display

        "Divide-by-zero error"

**One possible solution :**

In [5]:
def operation(num1: float, num2: float, num3: float) -> float :
    result = num1 * num2 + num3
    print("Positive result : " if result > 0 else "Negative result : " if result < 0 else "Result is Zero : ", end="")
    return result

print(operation(2, -3, 6))
print(operation(2, -3, 5))
print(operation(2, 3, 6))

Result is Zero : 0
Negative result : -1
Positive result : 12

---

# Mission 7:

Create a function that takes a number as a parameter that corresponds to gross salary and returns the net salary for executives.

You can specify any amount of deductions, or base them on your country's example

**One possible solution :**

In [6]:
def net_salary(brut_salary: float, deduction=22) -> float :
    return brut_salary*(1-deduction/100)


brut_salary = 1700
deduction = 23
print(f"The net salary for a brut salary of {brut_salary} is {net_salary(brut_salary, deduction)} when de deduction is {deduction}%.")

The net salary for a brut salary of 1700 is 1309.0 when de deduction is 23%.

---

# Mission 8:

Create a function that can swap the values of any two variables, such as

            if variable A = 1 and variable B = 2, after applying the function, variable A = 2 and B = 1

**One possible solution :**

In [8]:
def swap(var_a, var_b):
    return (var_b, var_a)

var_a = "text"
var_b = 1234
var_a, var_b = swap(var_a, var_b)
print(var_a, var_b)

1234 text