<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There is another object type we haven't talked about: `set`  
It looks like a `dictionary`, but it's not a dictionary.

---

In [ ]:
my_set = {"apple", "kiwi", "pineapple"}

In [ ]:
type(my_set)

set

**Question :**
ff
Whfy isn't `my_set` an object from the `dict` class ?

**Answer :**

Because the elements in the `set` object aren't in the form of `key-value` pairs, as in dictionaries.

---
---

Another specificity from `set` object is that they cannot have two items with the same values.

Execute the cells below.

In [ ]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }

In [ ]:
a_set

{'banana', 'cherry', 'lemon', 'strawberry'}

---
---

**Question :**

How many items do the sets below have ?

        To answer, you can use your knowledge or the `len()` function.

**Answer :**

The set contains nine items.

In [ ]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}

In [ ]:
print(f"this_set contains {len(this_set)} elements.")

this_set contains 9 elements.

---

**Question :**

Can a set contain elements with differents types ?

**Answer :**

In [ ]:
# try to make a set with objects with different types here:
answer = {"hey", 2, True, 2.33}
print(type(answer))
for element in answer:
    print(type(element))

<class 'set'>
{True, 2, 2.33, 'hey'}

---

**Question :**  

Using the list below, there is a simple way to know the amount of unique values from this list.

What is it ?

**Answer :**

In [ ]:
# Try to count the amount of unique values from this list, in one line of code.

a_list = [1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9]
amount_unique_values = len(set(a_list))
print(f" The aumount of unique values is : {amount_unique_values}")

 The aumount of unique values is : 9

---
---

There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.
* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
* `Set` is a collection which is unordered, unchangeable, and unindexed. No duplicate members, but you can remove items and add new items.
* `Dictionary` is a collection which is ordered and changeable. No duplicate members.

---
---

**Question :**   
Find a way to access to the first value of `this_set`

**Answer :**

In [ ]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}
print(this_set)
print(f"First value : {list(this_set)[0]}")

{1, 2, 3, 4, 5, 6, 7, 8, 9}
First value : 1

---

**Question :**
  
Find a way to add a value that will be unique in `a_set`

**Answer :**

In [ ]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }
print(f"a_set = {a_set}")
new_value = "apple"
print(f"Adding the new value '{new_value}'")
a_set.add(new_value)
print(f"a_set = {a_set}")

a_set = {'cherry', 'banana', 'strawberry', 'lemon'}
Adding the new value 'apple'
a_set = {'banana', 'apple', 'lemon', 'cherry', 'strawberry'}

---

**Question :**

Now, you have to add the value from `this_set` to `a_set`.

**Answer :**

In [ ]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}
print(f"a_set = {a_set}")
print(f"this_set = {this_set}")
print(f"Adding 'this_set to a_set'")
a_set.update(this_set)
print(f"a_set = {a_set}")

a_set = {'strawberry', 'banana', 'cherry', 'lemon'}
this_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
Adding 'this_set to a_set'
a_set = {1, 2, 3, 4, 'banana', 5, 6, 7, 8, 9, 'lemon', 'strawberry', 'cherry'}

---

**Question :**

If you display a `set` object, it won't display with the same order you define it.

What can you say about the order the element are display ?

**Answer :**

The order in a `set` is determined by the Python version, but in general, a `set` is an unordered collection of elements.

---

**Question :**   

Find a way to display the elements that exist in both sets.

In [ ]:
a_set = {"banana", "grapes", "cherry", "pineapple", "kiwi", "strawberry"}

b_set = {"lemon", "kiwi", "grapes", "blueberry", "watermelon"}

**Answer:**

In [ ]:
set_intersection = a_set.intersection(b_set)
print(f"a_set \u22c2 b_set = set_intersection")

a_set ⋂ b_set = set_intersection

---
---

There is other methods for `set` objects, that you can find [here](https://www.w3schools.com/python/python_ref_set.asp).

---
---