<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_Numpy_vs_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Vectorized operations

As you could see in the quest, one of the great strengths of Numpy are the vectorized operations. Numpy will not perform loops to do calculations, but rather perform operations in parallel.   
You can look at it this way:  
* Python --> loop --> serial (actions one after the other)
* Numpy --> vectorized operation --> in parallel (actions next to each other)

# Mission 1

Considering the object below, we want to calculate the sum for each row.  
That is, return the sum of `12 + 5`, then `8 + 32` etc...  
Find a way to return the sums of the 4 rows in a list, coding in Python. You must have 4 values in this list.

In [32]:
my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]


def get_sum_in_row(my_list: list) -> list:
    new_list = []
    for row in my_list:
        new_list.append(sum(row))

    return new_list

print(get_sum_in_row(my_list))

[17, 40, 31, 21]

Now do the same thing, but this time coding in `Numpy`.  
`index`: You must first convert `my_list` to ndarray.

**One Solution :**

In [35]:
import numpy as np

my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

def get_sum_in_row_np(my_list: list) -> np.array:
    np_array = np.array(my_list)
    sum_array = np.empty(len(my_list), np.int64)

    for index, row in enumerate(np_array):
        sum_array[index] = row.sum()

    return sum_array

print(get_sum_in_row_np(my_list))

[17 40 31 21]

**Other solution :**

In [25]:
import numpy as np

my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

def get_sum_in_row_np_2(my_list: list) -> np.array :
    np_array = np.array(my_list)
    np_1 = np_array[:, 0]
    np_2 = np_array[:, 1]
    return np_1 + np_2

[17 40 31 21]

# Mission 2

Find a way to return the sums of the 2 columns in a list, by coding in Python. You must have 2 values in this list.

In [36]:
my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

def get_sum_in_column(my_list: list) -> list:
    column_1 = 0
    column_2 = 0

    for row in my_list:
        column_1 += row[0]
        column_2 += row[1]

    return [column_1, column_2]


print(get_sum_in_column(my_list))

[52, 57]

Now do the same thing, but coding this time in Numpy.  
This time you have to propose 2 different solutions, coding in Numpy each time.

**One solution :**

In [39]:
import numpy as np

my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

def get_sum_in_column_np(my_list: list) -> np.array :
    np_array = np.array(my_list)
    np_sum = np.zeros(2, dtype=np.int64)

    for row in my_list:
        np_sum += row

    return np_sum

print(get_sum_in_column_np(my_list))

[52 57]

**Other solution :**

In [40]:
import numpy as np

my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

def get_sum_in_column_np_2(my_list: list) -> np.array :
    np_array = np.array(my_list)
    return np.array([np_array[:, 0].sum(), np_array[:, 1].sum()])

print(get_sum_in_column_np_2(my_list))

[52 57]

# Mission 3

This time, you will have to return the sum of all the elements included in the object below, coding in `Python`.

In [42]:
my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

def get_total_sum(my_list: list) -> int:
    total = 0

    for row in my_list:
        total += sum(row)
    return total

print(get_total_sum(my_list))

109

As you might expect, you'll have to do this by coding in Numpy.
You can propose only one solution. There is a very simple one, and a very effective one too.

In [48]:
import numpy as np

my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]


def get_total_sum_np(my_list: list) -> int:
    return np.array(my_list).sum()

print(get_total_sum_np(my_list))

109

# Mission 4

Find a way to calculate the following statistical indicators using NumPy functions on the array bellow.
- mode
- median
- average
- the range (the difference between max and min)
- standard deviation
- variance
- the different quantiles

In [85]:
import numpy as np

array = [5, 34, 74, 65, 98, 81, 34, 61, 9, 4, 27, 42, 42, 78, 34, 59, 56, 82, 55, 63]

np_array = np.array(array)
unique_values, counts = np.unique(np_array, return_counts=True)
np_stack = np.column_stack((unique_values, counts))


print(f"Mode: {np.array([k for (k,v) in np_stack if v == counts.max()])}")
print(f"Median: {np.median(array)}")
print(f"Average: {np.mean(np_array)}")
print(f"Range: {np.ptp(np_array)}")
print(f"Standard deviation: {round(np.std(np_array), 2)}")
print(f"Variance: {round(np.var(np_array),2)}")
print(f"""Quartiles de {np.sort(np_array)}
    Q1: {np.quantile(np_array, 0.25)}
    Q2: {np.quantile(np_array, 0.5)}
    Q3: {np.quantile(np_array, 0.75)}
""")
(65+74)/2

Mode: [34]
Median: 55.5
Average: 50.15
Range: 94
Standard deviation: 26.03
Variance: 677.63
Quartiles de [ 4  5  9 27 34 34 34 42 42 55 56 59 61 63 65 74 78 81 82 98]
    Q1: 34.0
    Q2: 55.5
    Q3: 67.25

69.5