<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_Python_Variables_and_Built_in_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Type

1. Dans la cellule de code ci-dessous, quel est, pour chaque cellule, le type de chaque objet ?  
`indice`: vous pouvez utiliser `type(x)` pour le révéler.

1.1 int -> Entier

In [28]:
count = 5
print(type(count))

<class 'int'>

1.2 str -> chaîne de charactères

In [29]:
greeting = "Hello World"
print(type(greeting))

<class 'str'>

1.3 float -> numéro décimal

In [30]:
price = 2.5
print(type(price))

<class 'float'>

1.4 list -> Liste

In [31]:
color_palette = ["mintcream", "burlywood", "salmon"]
print(type(color_palette))

<class 'list'>

1.5 tuple -> liste non modifiable

In [32]:
colors = ("mintcream", "burlywood", "salmon")
print(type(colors))

<class 'tuple'>

1.6 dict -> Dictionaire ( key:value)

In [33]:
person_info = {"name": "Jules César", "Job": "Musician", "age": 55}
print(type(person_info))

<class 'dict'>

1.7 bool -> boolean ( deux valeurs : True ou False)

In [34]:
is_active = True
print(type(is_active))

<class 'bool'>

2. Maintenant, vous allez devoir convertir des objets d'un certain type, en un autre type d'objet.  
C'est parti !

2.1 Convertissez count en float.

In [35]:
count = 5

In [36]:
count = float(count)
print(count)

5.0

2.2 Convertissez price en int

In [37]:
price = 5.4

In [38]:
price = int(price)
print(price)

5

2.3 Convertissez price en int

In [39]:
price = 5.6

In [40]:
price = int(price)
print(price)

5

2.4 Que pouvez-vous remarquer ?

Réponse:

Je peux remarquer que int(5.4) = int(5.6) = 5, c'est à dire que la fonction 'int' renvoie la partie entière du nombre.

2.5 Trouvez le moyen d'arrondir temperature.

In [41]:
temperature = 5.6
temperature = round(temperature)
print(temperature)
print(type(temperature))

6
<class 'int'>

2.6 Après avoir arrondi temperature, est-ce que c'est toujours un `float` ?  
Réponse:

La valeur est un 'int'. La fonction 'round' renvoie un 'int' si on lui passe un seul paramètre.

2.7 Ci-dessous, est-ce que height est un `int` ?

Réponse:

Non, 'height' est un 'float' car il contient un point décimal à la définition.

In [42]:
height = 6.0
print(type(height))

<class 'float'>

2.8 Arrondissez pi avec 3 valeurs décimales.

In [43]:
pi = 3.14159265359
pi = round(pi, 3)
print(pi)

3.142

# Built-in Function

3.1 Utilisez une [built-in function](https://docs.python.org/3/library/functions.html) pour compter le nombre de caractères dans l'objet de type `string` suivant:

In [44]:
greeting = "Hello World"
print(f"Le texte contient {len(greeting)} caractères.")

Le texte contient 11 caractères.

3.2 Utilisez une built-in function pour compter le nombre d'éléments dans l'objet de type `list` suivant:

In [45]:
mixed_data = ["non", "pas", 1, "ni", 2, "ni", 3, "mais", 7.2132]
print(f"La liste contient {len(mixed_data)} éléments")

La liste contient 9 éléments

3.3 Utilisez une built-in function sur une des deux variables pour que `resultat`  contienne une valeur positive.

In [46]:
positive_number = 4
negative_number = -5

resultat = positive_number + negative_number
print(f"resultat = {resultat}")

resultat_positive = positive_number + abs(negative_number)
print(f"resultat_positive = {resultat_positive}")

resultat = -1
resultat_positive = 9

3.4 Utilisez une built-in function pour renvoyer la valeur minimum de la `list` suivante:

In [47]:
values = [3.2, 41, 2, 23, 7]
print(f"La valeur minimum dans la liste est {min(values)}")

La valeur minimum dans la liste est 2

3.5 Utilisez une built-in function pour renvoyer la somme des valeurs de la `list` suivante:

In [48]:
values = [3.2, 41, 2, 23, 7]
print(f"La somme des valeurs de la liste est {sum(values)}")

La somme des valeurs de la liste est 76.2