<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_Python_Mathematical_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Mathematical functions that need coding
![Find x](https://www.mathwarehouse.com/jokes/images/find-x-funny-math-image-joke.webp)

**Now the statisticians are begging you to code ready-made math functions for them. Below are the functions they use most often. Code the functions in the cells below:**

- Square of a number: Create a function that returns the square of a number.
- Cube of a number: Create a function that returns the cube of a number.
- Absolute value: Create a function that returns the absolute value of a number.
- Factorial of a number: Create a function that returns the factorial of a number.
- Mode of a list of numbers: Create a function that returns the mode of a list of numbers, for instance [68, 99, 65, 44, 77, 44, 44] --> 44.
- Average of a list of numbers: Create a function that returns the average of a list of numbers.
- Minimum of a list of numbers: Create a function that returns the minimum from within a list of numbers.
- Maximum of a list of numbers: Create a function that returns the maximum from within a list of numbers.

**Yes, all those functions already exist in dedicated modules, and you may not reuse them, unfortunately: you may only use loops, conditionals, basic structures, `len`, addition, subtraction, multiplication, division and powers.**

**Don't forget to test your functions with at least two possible cases!**

Optional Question: Create a function that returns the mode of a list of numbers when more than one modal value is present in a given data set. For example [68, 68, 68, 99, 65, 44, 77, 44, 44] --> [68, 44]

- **Square of a number: Create a function that returns the square of a number**

In [8]:
def square_of_n(n: float) -> float:
    return n**2

number_1 = 5
number_2 = -5

print(f"The square of {number_1} is {square_of_n(number_1)}")
print(f"The square of {number_2} is {square_of_n(number_2)}")

The square of 5 is 25
The square of -5 is 25


- **Cube of a number: Create a function that returns the cube of a number**

In [9]:
def cube_of_n(n: float) -> float:
    return n**3

number_1 = 5
number_2 = -5

print(f"The cube of {number_1} is {cube_of_n(number_1)}")
print(f"The cube of {number_2} is {cube_of_n(number_2)}")

The cube of 5 is 125
The cube of -5 is -125

- **Absolute value: Create a function that returns the absolute value of a number.**

In [10]:
def abs_of_n(n: float) -> float:
    return n if n >= 0 else -n

number_1 = 5
number_2 = -5

print(f"The absolute value of {number_1} is {abs_of_n(number_1)}")
print(f"The absolute value of {number_2} is {abs_of_n(number_2)}")

The absolute value of 5 is 5
The absolute value of -5 is 5

- **Factorial of a number: Create a function that returns the factorial of a number.**

In [11]:
def factorial_of_n(n: int) -> int:
    factorial = 1
    for num in range(1, n+1):
        factorial *= num
    return factorial

number_1 = 0
number_2 = 5

print(f"The factorial of {number_1} is {factorial_of_n(number_1)}")
print(f"The factorial of {number_2} is {factorial_of_n(number_2)}")

The factorial of 0 is 1
The factorial of 5 is 120

- **Mode of a list of numbers: Create a function that returns the mode of a list of numbers, `for instance [68, 99, 65, 44, 77, 44, 44] --> 44.`**
    
    **Create a function that returns the mode of a list of numbers when more than one modal value is present in a given data set. For example [68, 68, 68, 99, 65, 44, 77, 44, 44] --> [68, 44]**

In [32]:
def mode_of(numbers_list: list) -> list:
    frequences = {}
    for number in set(numbers_list):
        count = numbers_list.count(number)
        if count in frequences.keys():
            frequences[count] = frequences[count] + [number]
        else:
            frequences[count] = [number]

    max_frequence = sorted(frequences.keys())[-1]

    return [] if max_frequence == 1 else frequences[max_frequence]


numbers_list_1 = [1,1,1,1,2,2,2,2,3,3,3,5,5,6,7]
numbers_list_2 = [68, 99, 65, 44, 77, 44, 44]

print(f"The mode(s) of [{', '.join(map(str, numbers_list_1))}] is/are {mode_of(numbers_list_1)}")

print(f"The mode(s) of [{', '.join(map(str, numbers_list_2))}] is/are {mode_of(numbers_list_2)}")

The mode(s) of [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 5, 5, 6, 7] is/are [1, 2]
The mode(s) of [68, 99, 65, 44, 77, 44, 44] is/are [44]

- **Average of a list of numbers: Create a function that returns the average of a list of numbers.**

In [30]:
def average_of(numbers_list: list) -> float:
    total = 0
    for number in numbers_list:
        total += number

    return total/len(numbers_list) if len(numbers_list) else None

numbers_list_1 = [1, 2, 3, 4, 5]
numbers_list_2 = [2, 2, 2, 2, 2, 2, 2, 2]

print(f"The average of [{', '.join(map(str, numbers_list_1))}] is {average_of(numbers_list_1)}")
print(f"The average of [{', '.join(map(str, numbers_list_2))}] is {average_of(numbers_list_2)}")

The average of [1, 2, 3, 4, 5] is 3.0
The average of [2, 2, 2, 2, 2, 2, 2, 2] is 2.0

- **Minimum of a list of numbers: Create a function that returns the minimum from within a list of numbers.**

In [34]:
def min_of(numbers_list: list) -> float:
    min = numbers_list[0]
    for number in numbers_list:
        if number < min:
            min = number
    return min

numbers_list_1 = [15,-20, 18, 1 , 0, 35, 44, 28, -101, 2102]
numbers_list_2 = [15, 20, 18, 1 , 0, 35, 44, 28, 101, 2102]


print(f"The minimum of [{', '.join(map(str, numbers_list_1))}] is {min_of(numbers_list_1)}")

print(f"The minimum of [{', '.join(map(str, numbers_list_2))}] is {min_of(numbers_list_2)}")

The minimum of [15, -20, 18, 1, 0, 35, 44, 28, -101, 2102] is -101
The minimum of [15, 20, 18, 1, 0, 35, 44, 28, 101, 2102] is 0

- **Maximum of a list of numbers: Create a function that returns the maximum from within a list of numbers.**

In [35]:
def max_of(numbers_list: list) -> float:
    max = numbers_list[0]
    for number in numbers_list:
        if number > max:
            max = number
    return max

numbers_list_1 = [15,-20, 18, 1 , 0, 35, 44, 28, -101, 2102]
numbers_list_1 = [15, 20, 18, 1 , 0, 35, 44, 28, 101, -2102]

print(f"The maximum of [{', '.join(map(str, numbers_list_1))}] is {max_of(numbers_list_1)}")

print(f"The maximum of [{', '.join(map(str, numbers_list_2))}] is {max_of(numbers_list_2)}")

The maximum of [15, 20, 18, 1, 0, 35, 44, 28, 101, -2102] is 101
The maximum of [15, 20, 18, 1, 0, 35, 44, 28, 101, 2102] is 2102