<a href="https://colab.research.google.com/github/lugsantistebanji/WCS-IA/blob/main/WCS_IA_Quetes_Python_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

**One possible solution :**

In [ ]:
my_tuple = (1, 2, 3, "test1", "test2", "test3", ["item1", "item2", "item3"], [1, 2 , 3], {"key1": "value1", "key2": "value2", "key3": "value3"}, {1: 3, 2: 1, 3: 2})
print(my_tuple)

(1, 2, 3, 'test1', 'test2', 'test3', ['item1', 'item2', 'item3'], [1, 2, 3], {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}, {1: 3, 2: 1, 3: 2})

Now, access the second-to-last item in the second list.

In [ ]:
my_tuple = (1, 2, 3, "test1", "test2", "test3", ["item1", "item2", "item3"], [1, 2 , 3], {"key1": "value1", "key2": "value2", "key3": "value3"}, {1: 3, 2: 1, 3: 2})
print(my_tuple[7][-2])

2

# Mission 2

In the same tuple, access the last 4 elements using slicing.

**One possible solution :**

In [ ]:
my_tuple = (1, 2, 3, "test1", "test2", "test3", ["item1", "item2", "item3"], [1, 2 , 3], {"key1": "value1", "key2": "value2", "key3": "value3"}, {1: 3, 2: 1, 3: 2})
print(my_tuple[-4:])

(['item1', 'item2', 'item3'], [1, 2, 3], {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}, {1: 3, 2: 1, 3: 2})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

**One possible solution :**

In [ ]:
my_tuple = (1, 2, 3, "test1", "test2", "test3", ["item1", "item2", "item3"], [1, 2 , 3], {"key1": "value1", "key2": "value2", "key3": "value3"}, {1: 3, 2: 1, 3: 2})
my_list = list(my_tuple)
my_list[4] = "new_string"
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 'test1', 'new_string', 'test3', ['item1', 'item2', 'item3'], [1, 2, 3], {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}, {1: 3, 2: 1, 3: 2})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highet total.

**One possible solution :**

In [5]:
import random as rd

lenght_tuples = rd.randint(5, 20)
tuple_1 = tuple([rd.randint(1, 100) for x in range(lenght_tuples)])
tuple_2 = tuple([rd.randint(1, 100) for x in range(lenght_tuples)])

def compare_tuples(tuple_1: tuple, tuple_2: tuple) -> None:
    sum_t1 = sum(tuple_1)
    sum_t2 = sum(tuple_2)
    tuple_max = f"Tuple 1: Total={sum_t1}" if sum_t1 > sum_t2 else f"Tuple 2: Total={sum_t2}"
    print(f"- Tuple 1: {tuple_1}, Total={sum_t1}")
    print(f"- Tuple 2: {tuple_2}, Total={sum_t2}")
    print()
    print(tuple_max)

compare_tuples(tuple_1, tuple_2)

- Tuple 1: (27, 70, 22, 63, 10, 5, 16, 14, 25, 94), Total=346
- Tuple 2: (85, 94, 13, 93, 55, 16, 8, 78, 53, 10), Total=505

Tuple 2: Total=505

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` when the element at the given position is now the given string.

**One possible solution :**

In [6]:
try:
    my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")
    new_string = input("Enter a string: ")
    position = int(input(f"Enter the index of the element to change in the tuple. Index between 0 and {len(my_tuple) - 1 }, limits included: "))

    if position < 0 or position >= len(my_tuple):
        raise IndexError(f"The index of the element to change in the tuple must between 0 and {len(my_tuple) - 1 }")

    my_list = list(my_tuple)
    my_list[position] = new_string
    copy_my_tuple = tuple(my_list)
    print(f"\n The copy altered is: {copy_my_tuple}")

except IndexError as error:
    print(error)
except ValueError as error:
    print("You must enter a integer number")

Enter a string: data miner
Enter the index of the element to change in the tuple. Index between 0 and 3, limits included: 2

 The copy is: ('data analyst', 'data scientist', 'data miner', 'data architect')